[2019-12-09 19:43] levinotik opened #1 "Error: "subscriptions are not allowed""
Hey there, trying to get this set up in my project. I've gone through the README and set up the required pieces (I think). I'm now trying to use Graphiql to test out a subscription that I set up. When I do, I get this error response:

[code]

and can see this in stack trace as well:

[code]

I must be missing something basic. Any ideas on what I'm doing wrong here? Thanks.

[2019-12-09 19:57] levinotik commented on #1
I think I actually got past that issue by creating a custom `GraphQLCoreBackend`

[code]

and hooking it up in my `urls.py` as in `path('graphql/', csrf_exempt(CustomGraphQLView.as_view(graphiql=True, backend=GraphQLCustomCoreBackend())), name='graphql')`.

The issue now is that I'm receiving this error:

[code]

My resolve function is defined as:

[code]

Any guidance on this?

[2019-12-09 20:23] jaydenwindle commented on #1
Hey @levinotik! Yes, afaik the default GraphiQL view in Graphene doesn't support subscriptions out of the box. That's really neat that you can add subscription support to the default GraphiQL view by passing in a different backend, I didn't know that!

I usually use [GraphQL Playground](https://github.com/prisma-labs/graphql-playground) to test anything subscription-related. Can you test this exam

[2019-12-09 20:26] levinotik commented on #1
Thanks for the quick reply. I'm downloading GraphQL Playground right now to take a closer look. I'm using Django which may be the issue here. In your docs, you have this application bit

[code]

Not sure that plays nice with `graphql/` endpoint I have set up in Django's `urlpatterns`. Will revert with more info.

[2019-12-09 20:31] levinotik commented on #1
Yeah so I downloaded GraphQL playground and added a simple hello subscription into my project. I then tried to subscribe in the playground and never seem to receive an event. The playground seems aware of the schema just fine (it knows there's a hello subscription), but my guess is that the Django server doesn't know anything about the websocket routing.

[2019-12-09 20:31] jaydenwindle commented on #1
@levinotik Since Django channels routes requests based on protocol (websocket vs http), having the same endpoint for both the GraphQL view and consumer should be fine.

I wonder if your custom GraphiQL view is trying to call the subscription via an HTTP request instead of connecting to the websocket endpoint here? That would explain why `root` is `None`, since `GraphqlSubscriptionConsumer` sets up

[2019-12-09 20:33] levinotik commented on #1
Oh ok so that's not the issue, thanks. Actually, it looks like the requests _are_ coming through. I'm seeing the ping to hello over and over again in the logs.

[code]

But never actually see a response in the playground. Just shows a spinner forever.

[2019-12-09 20:38] jaydenwindle commented on #1
Thanks, those logs are really helpful. Have you set up [Django Channels](https://channels.readthedocs.io/en/latest/installation.html) in your project? And are you using the same endpoint for both your GraphQL view and the consumer?

I don't see any websocket connection attempts in these logs, which makes me think that either the server isn't listening for them (an issue with Django channels), or t

[2019-12-09 20:42] levinotik commented on #1
Thanks. So I've added `channels` to `INSTALLED_APPS` and added `ASGI_APPLICATION` setting to point to `myproject.routing.application` which contains the snippet you provided in your docs with the `ProtocolTypeRouter`, etc. In that sense it differs from the Django Channels instructions because it doesn't point to the empty `ProtocolTypeRouter` in their docs (which I assume is fine). Is this not cor

[2019-12-09 20:50] jaydenwindle commented on #1
That sounds right to me :)

I think GraphQL Playground sends both HTTP and Websocket requests to the same URL by default. If `GraphQLView` is set up at `path('graphql/' GraphQLView.as_view(graphiql=True))` and `GraphqlSubscriptionConsumer` is set up at some other path (e.g. `path('graphql-ws/', GraphqlSubscriptionConsumer)`, then GraphQL Playground might not be able to send subscription websocket

[2019-12-09 20:51] levinotik commented on #1
I had been using `npx sls wsgi serve -s local` to run the server and just now tried `manage.py runserver` as well.

[2019-12-09 20:52] levinotik commented on #1
I have them both set up at the same path (I think)...

I have

[code]

as well as this in `routing.py`

[code]

[2019-12-09 20:55] jaydenwindle commented on #1
Ok, got it. So not a path issue :)

Did it work with `./manage.py runserver`? Can you send some logs of subscription attempts while running it with the `runserver` command?

Django channels modifies the `runserver` command to use ASGI instead of WSGI, which lets the server respond to websocket requests. This library won't work with a WSGI server, since it needs to be able to process websocket requ

[2019-12-09 20:56] levinotik commented on #1
Sure, here it is with `runserver`

[code]

[2019-12-09 21:01] jaydenwindle commented on #1
Ok, awesome - super helpful :)

Still not seeing any websocket requests in there, which makes me think it's a configuration issue. What's the exact value of your `ASGI_APPLICATION` setting?

[2019-12-09 21:03] levinotik commented on #1
`ASGI_APPLICATION = "great_control.routing.application"` and the `application` is in the root project dir at `great_control/routing.py` which contains:

[code]

[2019-12-09 21:07] jaydenwindle commented on #1
Got it, that looks right to me.

Let me try to reproduce this locally. Is it possible to share the source with me in a private repo so I can diagnose? No worries if not, I understand it may be sensitive.

[2019-12-09 21:08] levinotik commented on #1
Wish I could :( Unfortunately I cannot.

[2019-12-09 21:08] jaydenwindle commented on #1
No worries at all :)

Let me take a stab a reproducing this and get back to you.

[2019-12-09 21:09] levinotik commented on #1
Thanks so much for looking into this, really appreciate it.

[2019-12-09 21:30] jaydenwindle commented on #1
Ok, I think I may have found the issue. This is definitely on me for not documenting something this important in the readme 🤦‍♂️.

You'll need to set up [Channel Layers](https://channels.readthedocs.io/en/latest/topics/channel_layers.html) in order for subscriptions to work properly. If you don't want to set up a Redis in your dev environment, you can set up Channel Layers using an in-memory backe

[2019-12-09 21:36] jaydenwindle commented on #1
Also, I just noticed that you're running `./manage.sh runserver` instead of `./manage.py runserver`. Is `./manage.sh` a custom script that is a part of your project? If so, I wonder if there's something in there that's interfering with how the runserver command normally operates.

[2019-12-09 21:46] levinotik commented on #1
I doubt that's the case, but just to be sure I created a new project and just used manage.py. Can't seem to get even minimal example working. Repo is here: https://github.com/levinotik/graphene-django-subscriptions

[2019-12-09 21:46] levinotik commented on #1
And yes, that's a custom script which just does

[code]

[2019-12-09 21:47] levinotik commented on #1
Oh whoops, didn't see previous message about channel layers. Trying now!

[2019-12-09 21:49] levinotik commented on #1
Pushed commit adding channel layers to that repo. Still no dice. https://github.com/levinotik/graphene-django-subscriptions/commits/master

[2019-12-09 21:52] levinotik commented on #1
To be clear, in the GraphQL playground I've just entered

[code]

and clicked "Play". That's correct, right?

[2019-12-09 21:55] jaydenwindle commented on #1
I also updated the hello world subscription in the README - you'll need to make sure to pass an argument to the `lambda` function which you pass to `map` in the resolver, like so:
[code]

Yep, that's correct. The example in your repo seems to be working fine for me - here it is in action:

![Screen+Recording+2019-12-09+at+03 51+PM](https://user-images.githubusercontent.com/10178895/70476405-3d1184

[2019-12-09 22:00] levinotik commented on #1
Well, I'll be damned. Works now! Thanks so much for your time on this, really appreciate it!

[2019-12-09 22:00] #1 closed

[2019-12-09 22:01] jaydenwindle commented on #1
Ayyyy, amazing! So glad you got it working :D

Feel free to open another issue if you run into any more problems :)

[2019-12-09 22:04] levinotik commented on #1
Thanks. Now to get this working in the actual project lol...

[2019-12-09 22:06] levinotik commented on #1
Added the channel layer to the project settings (as I did what that sample repo I shared) and get this when I try subscription in GraphQL Playground. 😔

![image](https://user-images.githubusercontent.com/514174/70477096-148e8800-1aa6-11ea-974d-4efde9a63a69.png)

[2019-12-09 22:10] jaydenwindle commented on #1
Can you share the logs from your app? Usually this means something crashed, and you can see the stack trace in the logs.

[2019-12-09 22:17] levinotik commented on #1
I'm not sure, taking a closer look. I first need to fix some issues that will let me run with the regular `runserver` and not WSGI which you had said won't work because WS requests need to be processed asynchronously.

[2019-12-09 22:20] levinotik commented on #1
Ok, just passed `runserver` to our custom `manage.sh` script and it seems to work! All good now.

[2019-12-09 22:21] jaydenwindle commented on #1
Awesome! Glad it's working for you :D

[2019-12-09 22:43] levinotik commented on #1
Ok so I've got that basic subscription working (the hello example), but can't seem to get Django model updates working.

Using Graphiql, I'm executing a mutation and subscribing to that model ID using GQL Playground. I'm not receiving any events and don't see my print statement in the `resolve` function in my subscription class so it doesn't seem to be getting called at all. I'm using the graphene

[2019-12-09 22:59] jaydenwindle commented on #1
This looks good so far. Your resolve function should get called once for each time a client subscribes, not every time an update is fired. Does your resolve function not get called at all?

Have you imported `signals.py` in your `your_app/apps.py` file? That's necessary to make sure your signals fire correctly.

[code]

[2019-12-10 14:16] levinotik commented on #1
Thanks. Yes, I have imported into `apps.py`.

[2019-12-10 14:30] levinotik commented on #1
By the way, I went to take a look at your tests to make sure I was doing a model update subscription correctly and it doesn't look like your test actually checks the update case? Looks like it does a create. I would've expected to see updating some model field and then doing a `save()` to test this case. That's the case I'm trying to get working right now and it involves an update to a Django mode

[2019-12-10 14:37] jaydenwindle commented on #1
The `save()` call is on line [109](https://github.com/jaydenwindle/graphene-subscriptions/blob/master/tests/test_model_subscriptions.py#L109).

[2019-12-10 14:39] levinotik commented on #1
Right, but the operation is a create, i.e. `s = await sync_to_async(SomeModel.objects.create)(name="test name")`

Also, I am now seeing my `resolve` function called so that's good. Still trying to get the update event back by executing a `subscription`. Digging further.

[2019-12-10 14:42] jaydenwindle commented on #1
Yep - I had to create the model first in the test (line [94](https://github.com/jaydenwindle/graphene-subscriptions/blob/master/tests/test_model_subscriptions.py#L94)) in order to update it on line [109](https://github.com/jaydenwindle/graphene-subscriptions/blob/master/tests/test_model_subscriptions.py#L109) :)

Awesome, glad the resolver is firing! One thing that I've found helpful while debuggi

[2019-12-10 14:42] levinotik commented on #1
My point is, shouldn't the test be using something like

[code]

?

[2019-12-10 14:45] levinotik commented on #1
Thanks for the debug example. Don't seem to be seeing any prints using that.

[2019-12-10 14:45] jaydenwindle commented on #1
That would probably make the test clearer, for sure :)

Technically the `post_save` signal (and therefore the `UPDATED` event) will still be fired even if a model is saved with no field changes, so the test does work as is.

[2019-12-10 14:47] jaydenwindle commented on #1
If you try connecting another signal in your `signals.py` file, does it fire? E.g.

[code]

[2019-12-10 14:51] levinotik commented on #1
That's a good test, thanks. Doesn't look like that's getting called.

[2019-12-10 14:54] levinotik commented on #1
So it would seem something is off with Django signals themselves, unrelated to graphene-subscriptions really...

[2019-12-10 15:11] levinotik commented on #1
Hmm...I have these other functions defined annotated with `@receiver(post_save, sender=Turn)` and they seem to fire just fine...

[2019-12-10 15:22] levinotik commented on #1
Ok got it working. For some reason when I have the `post_save.connect(debug_signal, sender=Turn, dispatch_uid="post_save_debug")` bit defined in a separate file, it won't fire. I added it to the bottom of an existing signals file that I have in `turns/signals` which is also listed in `turns/signals/__init__.py`. Perhaps it would work as a standalone file if I were to list it in `__init__.py`? I co

[2019-12-10 15:27] levinotik commented on #1
Ok, apparently I need to have _some_ function (anything really) defined in that standalone file in order to import it into `__init__.py`. So I literally have

[code]

in `myapp/turns/signals/turn_transition_graphene_subscription.py`

and then in `great_control/turns/signals/__init__.py` I have

`from .turn_transition_graphene_subscription import foo`.

Is there a way to do this without just stuffi

[2019-12-10 15:31] jaydenwindle commented on #1
Ah, got it. Yeah, subscriptions can be tricky to get working.

How do you have the rest of the signals in your app defined? It's probably best to connect the graphene-subscriptions signals in the same style that the rest of your signals are defined. You could probably also put the `post_save.connect(post_save_subscription, sender=Turn, dispatch_uid="turn_post_save")` line directly in `great_contro

[2019-12-10 16:34] levinotik commented on #1
I like the idea of wrapping in an `@receiver`. This is all working now. Thanks so much for helping me through this!

[2019-12-10 16:49] jaydenwindle commented on #1
@levinotik You're very welcome, glad it's working for you :D

I'd love your feedback - is there anything I can do to make using graphene-subscriptions simpler / more intuitive? Is there anything that you found particularly confusing / cumbersome?

[2019-12-11 02:38] levinotik commented on #1
Hey good question. Give me some time to play around with it a bit more and I'll have some thoughts and maybe a PR with some documentation improvements. Thanks for being a great example of what an open-source maintainer should be.

[2020-01-28 11:32] fkromer opened #2 "Incomplete installation instructions"
In the [REAME installation instructions](https://github.com/jaydenwindle/graphene-subscriptions#installation), step 6. w.r.t. `from your_app.graphql.subscriptions import YourSubscription` something is missing.

[2020-01-28 15:40] fkromer commented on #1
@levinotik From where can I import `GraphQLCoreBackend` and `CustomGraphQLView`?

[2020-01-28 15:47] jaydenwindle commented on #2
@fkromer You're right, the instructions refer to a subscription called `YourSubscription` imported from `your_app.graphql.subscriptions` that isn't defined in the instructions. I can definitely see how that would be confusing.

I like your alternative, would you like to open a PR to add it to the README?

[2020-01-28 15:52] fkromer commented on #2
@jaydenwindle I'll try to find some time to create a PR.

Thanks for this package by the way. The best plug-and-play feel to add subscription support to django so far!

[2020-01-28 15:54] fkromer opened #3 "Feature comparison?"
The plug and play feel of the package is great. Would be helpful for potential users to have a feature comparison w.r.t. other integration packages like e.g. [DjangoChannelsGraphqlWs](https://github.com/datadvance/DjangoChannelsGraphqlWs). Are you planning to extend the functionality of the package?

[2020-01-28 16:03] jaydenwindle commented on #2
Awesome, thanks!

You're very welcome, glad you like it! Let me know if you run into any issues 😄

[2020-01-28 16:07] jaydenwindle commented on #3
Good idea! I'll take a look at the other packages and see if I can come up with some comparisons.

I'm definitely going to continue to develop this package. Is there any extra functionality in particular that you would like to see added?

[2020-01-28 16:17] fkromer commented on #3
I like `DjangoChannelsGraphqlWs`s feature to beeing able to define callbacks `on_connect()`, `subscribe()` and `publish()`. Especially for `on_connect()` there is no equivalent in `graphene-subscriptions` I guess. It seems like `graphene-subscriptions` is tightly coupled to Django models. Would be nice to allow a way to provide data via graphene fields which are not linked to a model.

[2020-01-28 16:22] jaydenwindle commented on #3
That's great feedback, thanks! Callbacks would definitely be useful. I'll work on adding them.

The `graphene-subscriptions` docs definitely center on using Django models right now, but you can actually use any Graphene type in your subscriptions. There's some documentation about it [here](https://github.com/jaydenwindle/graphene-subscriptions#custom-events), but it could definitely use some extra

[2020-01-29 01:31] levinotik commented on #1
@fkromer will take a look when I'm in front of computer and let you know. If I recall correctly, the `CustomGraphQLView` was my own code, not imported from this package. It was trivial, will paste when I have it in front of me.

[2020-01-29 09:06] fkromer commented on #3
Cool!

Ah, right. That's possible of course.

[2020-01-29 09:11] fkromer commented on #1
@levinotik Great! Thanks!

[2020-01-29 09:17] fkromer opened #4 "Integration with graphene-django?"
The devs of [graphene-django are discussing about integrating support for subscriptions](https://github.com/graphql-python/graphene-django/issues/120) based on channels for a while already. I like your plug and play integration that much that I [proposed to integrate it into graphene-django](https://github.com/graphql-python/graphene-django/issues/120#issuecomment-579662389). I hope you are fine w

[2020-01-29 17:04] levinotik commented on #1
@fkromer

`GraphQLCoreBackend` is imported from the graphql-core package. Complete definition is:

[code]

then create a CustomGraphQLView (in `views.py` or whatever):

[code]

then in your Django `urls.py` file, include a path for `graphql/` in the `urlpatterns` list using the `CustomGraphQLView`:

[code]

Let me know if anything is missing/unclear.

[2020-01-30 21:53] jaydenwindle commented on #4
@fkromer I'm totally ok with that!

It would be awesome if this could be integrated with `graphene-django` so that this functionality is available out of the box.

[2020-02-04 08:01] fkromer commented on #1
@levinotik Sorry for the dumb question but where does `ContextedGraphQLView` and `LoggedGraphQLView` come from?

[2020-02-04 20:50] levinotik commented on #1
@fkromer sorry for the confusion. You can ignore those completely and just use

[code]

So the full thing should look like:

[code]

and in `urls.py`, put

[code]

Lemme know if that works for you.

[2020-02-04 23:53] jaydenwindle opened #5 "Add ASGI implementation"
Since Django 3.0 supports ASGI out of the box, this library doesn't necessarily need to rely on it as a dependency for newer Django projects. Instead, we could create a custom ASGI application, and use it to handle GraphQL websocket connections.

We would still need a pub/sub layer, but could use `aioredis` directly. This would make the code much easier to understand, since sending data to the cli

[2020-02-05 00:07] levinotik commented on #5
Nice Jayden! Will check out the post a bit later, but this makes perfect sense!

[2020-02-06 09:56] fkromer commented on #1
@levinotik I get an error. Could be an issue with graphql-core: https://github.com/graphql-python/graphql-core/issues/149.

[code]

[2020-02-07 04:59] benedictkioko commented on #1
Thank you @jaydenwindle, @levinotik  I'm happy to state that this was very helpful. I'm recommending graphene-subscriptions to anyone looking to plug subscriptions.

[2020-02-12 03:37] mattbasta opened #6 "Scalability"
Hi there! I started using this for a new project I'm working on and it perfectly suits my needs.

One thing I'm concerned about over time is that all events are broadcast over the same channel (`subscriptions`?). For the purposes of my app, which implements a chat-like interface over a single `Message` model, this would—to my understanding—require every message to be received and filtered by every

[2020-02-13 21:28] jaydenwindle commented on #6
Hey @mattbasta! Thanks for using `graphene-subscriptions`. I'm glad it fits your use case well :)

You're correct - right now all events are broadcast to a single Channel Layer group called `subscriptions`, which every client is added to when they establish a websocket connection. This is not ideal, since it renders horizontal scaling mostly ineffective. This is definitely low-hanging fruit for op

[2020-02-14 18:02] jaydenwindle commented on #6
@mattbasta After thinking a little more about this last night, I came up with a way to give you more control over client groups in a manner that works with the current library architecture.

With this method, a `subscribe` function will be passed to each Subscription resolver in the `info.context` dict. This function can be used to add the client to a group based on the resolver arguments. You cou

[2020-02-14 18:24] mattbasta commented on #6
That's awesome! I think it definitely addresses my concerns. I'll have a look through the PR either tonight or this weekend. Thanks so much for taking the time to work on this; please let me know if there's anything that you'd be looking for outside help with.

[2020-02-14 18:37] jaydenwindle commented on #6
@mattbasta you're very welcome! Thanks for the feedback :)

If you'd like to help write some docs for this new approach, that would be much appreciated! I haven't quite nailed down what the new API will look like yet, so any input there would be awesome as well.

[2020-02-18 18:53] johnpaul89 commented on #1
Hey @levinotik @jaydenwindle

How do I get the post_save_subscription to work?

The hello subscription is working correctly on my websocket, I can see it running very well, but when it comes to my model signal being connected it doesn't work.

[code]

    def resolve_hello(root, info):
        return Observable.interval(3000) \
                         .map(lambda i: "hello world!")

### Here is s

[2020-02-18 19:00] jaydenwindle commented on #1
Hey @johnpaul89! Looks like your `post_save` signal isn't getting fired properly. Can you try using `post_save.connect` to register your signal instead of using the `@receiver` decorator? I've found that connecting signals using `@receiver` can be a little tricky.

Something like this should work:

[code]

[2020-02-18 19:12] johnpaul89 commented on #1
Thanks @jaydenwindle  for the super quick reply but it is still not working, can the problem be in my Subscription Schema coz in my playground I'm querying like this

[code]

[2020-02-18 19:23] jaydenwindle commented on #1
@johnpaul89 The rest of your code looks fine at first glance. My guess is that it's an issue with Django signals. Can you verify that your signals are firing properly? Something simple like this is a good test:

[code]

[2020-02-18 19:56] johnpaul89 commented on #1
@jaydenwindle @levinotik I think the problem is in there because my terminal is not printing anything.
Let me try checking why the signals are not being called, and try to compare with [your tests](https://github.com/jaydenwindle/graphene-subscriptions/blob/master/tests/test_model_subscriptions.py)
When you go through again my code and see any error, please inform me.
Thanks.

[2020-02-18 20:29] jaydenwindle opened #8 "Remove signals dependency"
A number of users have run into issues where the default subscription signals aren't fired properly when they connect them to their app. I've also run into a number of signals-related issues on projects that I've worked on, and they are often confusing to debug. They also make writing unit tests difficult, because you need to be careful about disabling and enabling signals.

I'd like to move away

[2020-02-18 20:31] jaydenwindle opened #9 "Add GraphiQL compatibility"
Right now `graphene-subscriptions` isn't compatible with the default GraphiQL setup that ships with `graphene`. This is often confusing for new users (see #1).

It would be awesome if this library could expose a `GraphQLView` class that supports subscriptions by default.

[2020-02-18 20:40] jaydenwindle opened #10 "v2 Roadmap"
Now that `graphene-subscriptions` has been out in the wild for a little while, I've noticed a number of common stumbling blocks and areas for improvement. Many thanks to everyone who has raised these issues!

I'd like to address a number of them in the next version of `graphene-subscriptions`. Because some of them will require breaking API changes (most notably #6), the next version of `graphene-s

[2020-02-18 21:06] johnpaul89 commented on #1
@levinotik @mattbasta @jaydenwindle How did you get your signals to be called?
Would you mind sharing a code example of your working signals being registered in the subscription.
Thanks.

[2020-02-18 22:05] johnpaul89 commented on #1
Guys, I figured it out, I used the examples given in this [tests with their schemas](https://github.com/jaydenwindle/graphene-subscriptions/blob/master/tests/test_model_subscriptions.py) and they worked properly.
So on my code I'll modify it a little bit so that it can receive signals.

**And also**

If your terminal doesn't print that, it means your signals aren't being read. What you do is try c

[2020-02-18 22:08] levinotik commented on #1
Great, glad to hear it!

[2020-02-18 22:08] levinotik commented on #1
@jaydenwindle Any chance you've deployed ASGI to AWS Lambda (w/ serverless)? Trying to figure out how to deploy this thing.

[2020-02-18 22:12] jaydenwindle commented on #1
@johnpaul89 Glad you got it working!

@levinotik As far as I know ASGI doesn't work with serverless because it requires a long-running process to handle websocket connections, and Lambda functions have a timeout by default.

If you need to run it in a serverless environment, you could use a proxy like https://pushpin.org/ to handle websocket connections. You'd need to write your own Pushpin-compat

[2020-02-18 22:16] levinotik commented on #1
Thanks a lot, @jaydenwindle that's helpful!

[2020-02-18 22:18] jaydenwindle commented on #1
@levinotik no worries!

Since this thread is getting really long and a bit off-topic, I set up a gitter channel for this project. I'll be in there pretty often to provide support if anyone needs it :)

[2020-02-22 10:36] johnpaul89 commented on #6
Hey @mattbasta @jaydenwindle , I'm trying to call CREATED subscriptions  for my model, such that when a model is created it only send the subscription to the subscribed channels.
Here is what I'm trying to do.
[code]
[code]
[code]

When I try to call the subscription in my graphql playground, I get this error
`{
  "data": null,
  "errors": [
    "'NoneType' object is not callable"
  ]
}`

Also, wh

[2020-02-25 18:12] jaydenwindle opened #11 "Add automatic subscriptions for Django models"
It would be awesome to not have to manually define created, updated and deleted subscriptions for each Django model type. Instead, we could have a `DjangoModelSubscription` class that takes in a `DjangoObjectType` as a metaclass argument and automatically defines subscriptions for each model event.

It could look something like this:

[code]

[2020-02-26 19:10] akinniyi opened #12 "ModuleNotFoundError: No module named 'rx.subjects'"
Running python manage.py runserver triggers an error with the traceback below. Looks like subjects is not present in Rx==3.0.1

`Traceback (most recent call last):
  File "/home/niyi/.virtualenvs/nextech/lib/python3.6/site-packages/channels/routing.py", line 29, in get_default_application
    module = importlib.import_module(path)
  File "/home/niyi/.virtualenvs/nextech/lib/python3.6/importlib/__i

[2020-02-26 19:26] jaydenwindle commented on #12
Good catch @akinniyi!

Right now, this library is dependent on `graphene-django` v2 which still uses the old `graphql-core`. `graphql-core` is only compatible with [`rx>=1.6,<2`](https://github.com/graphql-python/graphql-core/blob/fe703f0d176c78b205d2abf929193f1e910fe4a0/setup.py#L24), so we won't be able to use this library with `rx>=2` until `graphene-django` v3 is released 😿.

We should probabl

[2020-02-26 19:31] akinniyi commented on #12
It'll be my first public PR so yes!

[2020-02-26 19:31] akinniyi commented on #12
Thanks for this project by the way

[2020-02-26 19:32] jaydenwindle commented on #12
Amazing! You're very welcome 😊

[2020-03-17 15:01] fkromer opened #13 "Question: Database type and engine compatibility?"
Ideally the database type (SQL, NoSQL) and database engine used should not have any impact on the funtionality of `graphene-subscriptions`. However just to make sure, is there any known compatibility issue w.r.t. database engine (database type covered implicitly)?

[2020-03-17 15:28] jaydenwindle commented on #13
@fkromer I'm not aware of any compatibility issues, but I haven't done wide testing. `graphene-subscriptions` should work with any database that is supported by the Django ORM, but it may work for other ORMs as well. As long as the ORM implementation that's being used is compatible with Django's JSON serializer and Django signals, then created / updated / deleted subscriptions should work properly

[2020-03-17 15:57] fkromer commented on #13
@jaydenwindle Thanks!

[2020-03-17 15:57] #13 closed, assigned to nobody

[2020-03-23 05:14] begimai opened #14 "Permissions for subscription"
Hey Jayden,
This is a great library, thank you for your work!

I got it working, but not sure how to implement authentication and other custom user permission validations. Only way I see right now is to send user data as arguments, but not sure if it is good practice.
Any suggestions on how to implement permission validations?

Thank you!

[2020-03-23 10:32] begimai commented on #14
`"Subscription must return Async Iterable or Observable. Received: <Promise at 0x7f8996fa97f0 rejected with AttributeError(\"'NoneType' object has no attribute 'filter'\")>"`

also this error is returned on subscribe

[2020-03-24 20:20] jaydenwindle commented on #14
Hey @begimai! Thanks for the encouragement :)

Since `graphene-subscriptions` uses Django Channels under the hood, most authentication schemes that Graphene supports should theoretically be usable out of the box (see: https://channels.readthedocs.io/en/latest/topics/authentication.html).

Inside your resolvers you have access to the consumer `scope` via `info.context`, so you should be able to acc

[2020-03-24 20:55] begimai commented on #14
Hey @jaydenwindle
info.context was the way I resolved info about user, but for subscription info looks differently.
I will attach it.

Currently, I am using users to send token as an argument. But not sure if it is good practice.

![image](https://user-images.githubusercontent.com/15082425/77476041-7939dc80-6e22-11ea-8950-140a653132c3.png)

[2020-03-24 21:18] jaydenwindle commented on #14
`info.context` will definitely look different (since it's using the consumer `scope` object instead of a Django `request` object), but if you've got authentication hooked up you should be able to access the current user via`info.context.user`.

How are you currently sending the token to the server?

[2020-04-01 09:13] dosatross commented on #14
Thanks for your work on this Jayden. I tried setting an auth header to follow something like [this](https://hashnode.com/post/using-django-drf-jwt-authentication-with-django-channels-cjzy5ffqs0013rus1yb9huxvl) but headers are empty in `scope`.
Setting the auth token in query string works but I'm using apollo client and can't find a way to set query string dynamically.. also headers just seem like

[2020-04-01 15:46] jaydenwindle commented on #14
@dosatross Got it, thanks for the extra info :)

I'm going to do a deep dive on setting up auth with `graphene-subscriptions` and update the docs + post the results here. I'm sure this will be a very common requirement.

From a rough first glance, it looks like a few options for setting up auth are:
* Pass the token as a query param (easiest to set up, possibly least secure)
* Pass the token up in

[2020-04-01 18:30] msg555 opened #15 "Consumer sends after websocket is closed"
If you open a websocket and subscribe to a stream, close it, then open another websocket and subscribe, the next time an event arrives the _send_result callback will be invoked on the first expired websocket, attempting to send data on an already closed websocket. I'm not sure if this is ignored on some ASGI servers but on uvicorn this causes the whole connection to be dropped.

The issue appears

[2020-04-02 14:32] jaydenwindle commented on #15
Hey @msg555! Thanks for bringing this issue up.

You're right, the global `stream` variable does cause some issues currently. I didn't realize that this causes connections to drop on uvicorn, that definitely escalates the severity of this issue.

There is a PR open that should fix most (maybe all) of these issues (#7), but it contains some breaking API changes. I've been waiting to release it unti

[2020-04-05 06:03] mukluk opened #17 "Allow_suscriptions = True issue"
Hey Jayden,

I am having issues subscribing to the "hello world" example from /graphql due to the following error:

"Subscriptions are not allowed. You will need to either use the subscribe function or pass allow_subscriptions=True"

Any help would be greatly appreciated.

Thank You,
Gabriel

[2020-04-05 15:22] AanandhiVB commented on #17
https://github.com/jaydenwindle/graphene-subscriptions/issues/

Please check this link.

[2020-04-05 23:01] jaydenwindle commented on #17
Hey @mukluk!

`graphene-subscriptions` doesn't work out of the box with the Graphene's default GraphiQL client setup. To test subscriptions, I'd recommend using [GraphQL Playground](https://github.com/prisma-labs/graphql-playground). You can also add it to your Django project as a view with [`django-graphql-playground`](https://github.com/jaydenwindle/django-graphql-playground) if you want.

This

[2020-04-05 23:02] #17 closed, assigned to nobody

[2020-04-06 13:31] AanandhiVB opened #18 "Issue with Model Create Subscriptions"
Hi @jaydenwindle,

I am using this package for subscriptions with graphene. I am facing an issue with the Model Create Subscriptions.

This is my Model Create Subscription, just as mentioned in the documentation:

[code]

I am testing this in GraphQL Playground.

I keep my subscription running, which is:

[code]
And I create a new model instance:
[code]
But my subscription isn't returning anything

[2020-04-06 13:57] jaydenwindle commented on #18
Hey @pikachu-pop!

There's a couple of things that may be an issue here:

1. Have you set up [Channel Layers](https://channels.readthedocs.io/en/latest/topics/channel_layers.html) in your environment? If so, could you share your configuration? `graphene-subscriptions` uses Channel Layers as a pub-sub-like system to trigger subscriptions, so a misconfiguration there can cause subscriptions not to f

[2020-04-06 14:08] AanandhiVB commented on #18
Hi @jaydenwindle,

Thank you for writing back!

This is my Channel Layer configuration:

[code]

I did as you said for checking whether signals are connected properly and unfortunately the print statement didn't work. So I believe that might be the issue?

[2020-04-06 14:14] jaydenwindle commented on #18
That Channel Layers config looks good (it should work as long as you've got a Redis server running locally on `6379`), so I'm guessing its a signals issue.

Take a look at [this issue](https://github.com/jaydenwindle/graphene-subscriptions/issues/1#issuecomment-564069992) where another user encountered a similar problem and see if any of the advice there helps :)

[2020-04-06 14:28] AanandhiVB commented on #18
From that thread that you suggested, this is what I tried out:

_app/signals.py_

[code]

Still no response though :(

[2020-04-18 23:58] ashilen opened #20 "Behavior of module-level consumer stream"
Hi Jayden. I see that #15 already raises this question and that you have a related [pr](https://github.com/jaydenwindle/graphene-subscriptions/pull/7) already open. I just want to confirm that the following behavior is expected, and that I'm not overlooking something.

1. Some number, let's say 4, websocket connections are open, and therefore 4 `GraphqlSubscriptionConsumer` instances exist.
2. The

[2020-04-20 09:34] Just-Drue commented on #20
I've noticed this as well, had to to hack my way around this with `distinct()`

[2020-04-20 12:50] jaydenwindle commented on #18
Hey @AanandhiVB - sorry for the late reply on this. If the print statement isn't getting triggered, then it is probably an issue with how you have Django signals set up. Where are you importing `signals.py` from?

 This is a common issue that's been reported. `graphene-subscriptions` v2 will remove the dependency on signals since in favor of something a little more reliable.

[2020-04-20 13:21] jaydenwindle commented on #20
Hey @ashilen! You're right, that is the current behavior with the global stream setup. In hindsight that was a poor design decision.

#7 fixes this by allowing you as a developer to control when groups are subscribed to and streams are created. When you call the `subscribe` method from inside of a GraphQL resolver, it will do the following:
1. Add the current consumer to the specified group name
2

[2020-04-20 15:02] AanandhiVB commented on #18
Hi @jaydenwindle!

I apologize for not informing this earlier but I got the issue fixed.

@johnpaul89 thread helped me : https://github.com/jaydenwindle/graphene-subscriptions/issues/1#issuecomment-587926673

Everything is working now and once again thank you for this awesome package.

[2020-04-20 15:04] jaydenwindle commented on #18
@AanandhiVB Amazing, glad to hear! You're very welcome :D

[2020-04-21 13:32] Just-Drue commented on #20
@jaydenwindle hash curren't object's properties and call it within the resolve

[code]

[code]

[2020-04-30 16:51] FerCalatayud commented on #15
Hi, great library. But I have a question. If the user tries to subscribe but is not authorized. How do I disconnect them from the WebSocket? Or just by not returning the observable is sufficient? Right now I just return an Exception instead of the Observable.

[2020-05-05 03:33] mattbasta commented on #6
Sorry for the very long delay in replying to this thread. Subscriptions took a back seat to some broader functionality in my app.

Looking at #7, it seems like it should be more than satisfy my use case. I like the mixin!

[2020-05-09 09:45] 26huitailang commented on #4
Hello, I want to know what the new progress is.

[2020-05-11 14:13] prabin525 opened #21 "How to make it work with gunicorn"
I am using graphene-subscription in one of my project. Everything is fine but the problem is whenever i use gunicorn for my server, it doesn't work. I tried running the daphne on 8001 port but whatever I try, I get the following issue

`{
  "error": "Could not connect to websocket endpoint ws://127.0.0.1:8001. Please check if the endpoint url is correct."
}`

[2020-05-12 13:49] jaydenwindle commented on #21
Hi @prabin525!

Because `graphene-subscriptions` uses Django Channels behind the scenes (which uses ASGI instead of WSGI), you won't be able to access the subscriptions endpoint when running your app with a WSGI server like gunicorn.

What path did you define for your subscriptions endpoint in `routing.py`? Right now it looks like you're trying to connect to `ws://127.0.0.1:8001/`. If you followed

[2020-05-12 16:28] prabin525 commented on #21
Thank you @jaydenwindle for your reply. I got it to work.  There is another problem that I am facing. The subscriptions work fine with playground but as our frontend application is react based, we use apollo-graphql and whenever I try to run this subscription it gives the following error:
`
"GraphQL error: Subscriptions are not allowed. You will need to either use the subscribe function or pass al

[2020-05-12 16:51] jaydenwindle commented on #21
@prabin525 It sounds like your React app might be trying to send subscription requests via Apollo's HTTP link to your GraphQL endpoint (`http://<your_api>/graphql` instead of `ws://<your_api>/graphql`). Have you followed the [Client Setup](https://www.apollographql.com/docs/react/data/subscriptions/#client-setup) instructions for subscriptions in the Apollo documentation?

Currently `graphene-subs

[2020-05-13 04:45] mukluk opened #22 "How to make signals trigger subscriptions across multiple dynos/schedulers"
First of, I LOVE your library and have been able to perfectly implement it in my project.  I have been planning on scaling up though and am having some thoughts on signals originating from multiple cpus/dynos or perhaps even firing them from a scheduler.  Is there a way to have signals trigger subscriptions as per the aforementioned requirements?  I was thinking of firing them across channels, but

[2020-05-13 05:35] aakagi commented on #14
I'm using Apollo's `connectionParams` with django-graphql-jwt ended up going down a fairly deep rabbit-hole in order to get `info.context.user` working.

Sounds like this will be solved soon, but for now, I'm extending `GraphqlSubscriptionConsumer` and overwriting `def websocket_receive` (you'll also want to re-implement `def signal_fired`).

Hope this is helpful for as a temporary solution for ot

[2020-05-13 11:03] prabin525 commented on #21
@jaydenwindle Thank you for your suggestions and I made it to work perfectly. I have used daphne to serve both HTTP and WS requests. The problem is that the websockets connect only when the debug of django is TRUE (i.e in development mode only) but in the production mode the websocekts doesn't connect. There is no error thrown too. I also changed the djangoo channels Inchannel layer to redis. But

[2020-05-13 13:28] jaydenwindle commented on #22
Hey @mukluk! Awesome, glad you like it 😊

`graphene-subscriptions` actually handles sending events to multiple app instances using Channel Layers automatically. If you use the built-in `post_save_subscription` and `post_delete_subscription` signals, an event will be sent via Channel Layers so that all instances with active Subscription connections receive it and send the data to the client. If you

[2020-05-13 17:28] mukluk commented on #22
Thank you so much for the quick response.

That's good to know.  I was running a Heroku Scheduler to run some updating tasks and the signals weren't triggering graphene-subscriptions, so I assumed that they weren't being sent over channels, but this may be a separate issue.

[2020-05-17 05:43] prabin525 commented on #21
I was able to make this work by using supervisor to run the daphne server.

[2020-05-17 05:43] #21 closed, assigned to nobody

[2020-06-08 22:35] addudley opened #23 "Disconnect during handshake"
This is my first attempt at using anything with graphql. Just trying to get a simple example running. I followed the setup instructions provided, including the creation of the "hello world" subscription and an exact copy of the routing.py file.

When I try to connect to the websocket server from my web browser, my server displays the following:
`INFO 2020-06-08 17:10:53,544 runserver 105285 140070

[2020-06-08 22:54] jaydenwindle commented on #23
Hi @addudley!

I wonder if the GraphQL client setup in your browser is causing some issues here - can you share any more details about how that is set up so that I can help you debug it? Also, are you running your Django app using `./manage.py runserver` locally?

Could you also try testing the "hello world" subscription you created using something like [GraphQL Playground](https://github.com/pris

[2020-06-09 17:58] techknowfile commented on #23
Thanks for the fast response, @jaydenwindle !

The good news is, you put me on the right track to figuring out that it isn't completely broken. I installed GraphQL Playground and was able to successfully subscribe to "hello"! In doing so, you also made me realize that I needed to configure a separate graphql endpoint for graphene, as well.

I had been trying to connect to the websockets using both

[2020-06-09 21:51] jaydenwindle commented on #23
Ok awesome! Glad it worked in Playground.

My guess is that it's an issue with your client-side GraphQL setup. What kind of stack are you using on the front end? Have you tried setting up subscriptions using something like [Apollo Client](https://www.apollographql.com/docs/react/data/subscriptions/)?

Feel free to ping me in our [gitter channel](https://gitter.im/graphene-subscriptions) and I'll h

[2020-06-30 19:27] techknowfile opened #24 "Channel events for models don't seem to be kicking off"
I have two sandbox projects with graphene_subscriptions setup.

One of them works perfectly. When I create a new instance of a model and .save() it, GraphQL playground receives the expected info from the subscription.

One of them works for the "resolve_hello" example, but never kicks off the callback function when my model is created. It does successfully go through the AppConfig import api.signa

[2020-06-30 19:38] #24 closed, assigned to nobody

[2020-06-30 19:44] jaydenwindle commented on #24
Hey @techknowfile 👋

I'm guessing since you closed this issue that you got it working. I'm curious - what was the solution that fixed it for you?

Let me know if you run into any more issues :)

[2020-06-30 22:43] techknowfile commented on #24
My only guess is that I hadn't restarted my django shell that I was using to create the db entries :facepalm:

[2020-07-01 21:36] techknowfile opened #27 "Single subscription for create, update, delete"
I am new to GraphQL as a whole, so I'm sorry if this question is naive.

I was hoping to create a single subscription for CREATED, DELETED, and UPDATED so that it's simple for my client to stay in sync with an object or set of objects, but am not sure exactly how to pull this off. The thought was that the subscription would return another field that informs me of the operation that was executed so

[2020-07-02 16:20] shreyas44 commented on #27
[code]

Are you suggesting something like this?
This is not possible yet, but I was looking at implementing something like this and sending a PR (still have to look into the implementation of something like this).

[2020-07-02 18:16] techknowfile commented on #27
Yeah, so I was seeing the graphcool documentation which [shows a subscription to all changes to nodes](https://www.graph.cool/docs/reference/graphql-api/subscription-api-aip7oojeiv#subscribe-to-all-changes-to-all-nodes).

If I used the code below, I could be informed of there being any type of operation on the Hires object, but I wouldn't know what type of operation it was.
[code]

The next questi

[2020-07-03 21:11] shreyas44 commented on #27
I'm not sure how to achieve that yet. The library seems to be using [rxPy](https://github.com/ReactiveX/RxPY) to run your code whenever a model event is triggered. Since I've never worked with the library, I will look into it and get back to you ASAP!

[2020-07-05 20:37] shreyas44 commented on #27
@techknowfile I'm really sorry for the late response. I just submitted a draft pull request which you can check out at #28 which lets you achieve what you're looking for without having to work around much and also lets your write cleaner code!

However to achieve what you're looking for right now you could do something like this:
[code]

I didn't completely get what you're trying to achieve so let

[2020-07-06 23:36] techknowfile commented on #27
I'm just trying to create a single subscription for CREATE, DELETE, UPDATE. I was hoping the field name returned to the frontend could be changed based on the operation. Is the only way to get that information up to the frontend to create another field that stores the operation?

Update:
I've potentially accomplished what I need to with the following:
1. I created a new Field type that adds the mu

[2020-07-07 01:48] shreyas44 commented on #27
Do you mean you want to change the output based on what the operation is? And if you want different output for different operations, will the payload of 3 situation be of the Hire Type?

The payload can only contain information what the output type can contain. So if your output type is Hires, you will not be able to query for the mutation field as mutation is not specified as a field in the `Hire

[2020-07-13 01:06] Cimmanuel commented on #18
I did all these already and mine just keeps listening 🙄🤦🏾‍♂️
@jaydenwindle any thoughts?

[2020-07-13 08:33] Cimmanuel commented on #18
In my case, even the basic hello world subscription just keeps listening

[2020-07-13 17:00] jaydenwindle commented on #18
Hey @Cimmanuel! I'd love to help :)

Can you share some more details on how you've configured GraphQL Playground to connect to your API?

[2020-07-13 17:05] Cimmanuel commented on #18
@jaydenwindle please give me about 30 minutes to get to my computer. I'm currently away. Very sorry for the delay

[2020-07-13 17:44] Cimmanuel commented on #18
@jaydenwindle here are snippets:

`settings.py`
[code]

`routing.py`
[code]

`urls.py`
[code]

`schema.py (root)`
[code]

`schema.py (app)`
[code]

`signals.py`
[code]

I have the ready method of AppConfig subclass importing signals so the signal above works (I get `Subscription signal works` in the terminal). I don't know what else to do.

[2020-07-13 17:51] jaydenwindle commented on #18
@Cimmanuel Got it, thanks for the extra info :)

How are you running your Django server? Are you using `./manage.py runserver` or something else?

[2020-07-13 17:58] Cimmanuel commented on #18
@jaydenwindle The application is dockerized.

[2020-07-13 18:06] jaydenwindle commented on #18
@Cimmanuel Can you share your dockerfile? Specifically the command that is being used to run the server?

[2020-07-13 18:11] Cimmanuel commented on #18
@jaydenwindle
[code]

`start.sh`
[code]
It's basically still `manage.py runserver`

[2020-07-13 18:59] jaydenwindle commented on #18
@Cimmanuel Got it :)

And you're running the dockerized app with `DEBUG="True"`? Trying to run graphene-subscriptions with `gunicorn` will not work since channels requires an ASGI server.

Can you create a repo that reproduces the issue so that I can look into it and diagnose further?

[2020-07-13 19:05] Cimmanuel commented on #18
@jaydenwindle so I did this in playground:

[code]

My logs when I tried to create a user object
[code]

[2020-07-13 19:17] Cimmanuel commented on #18
@jaydenwindle I can't do this. I'm very sorry!

[2020-07-14 00:38] Cimmanuel commented on #18
@jaydenwindle still haven't heard from you. I guess you are very busy. However, this is what I found on the client-side:

`DOMException: Failed to construct 'WebSocket': The URL '/graphql/' is invalid.`
I think this is what's wrong. But I don't see anything wrong with my URL configuration. Now, I'm confused!

[2020-07-15 10:47] Cimmanuel commented on #18
Never mind Jayden. This was as a result of specifying a relative URL as endpoint value for GraphQLPlaygroundView. It only takes an absolute URL. Bottomline, IT WORKS!

[2020-07-15 12:45] jaydenwindle commented on #18
@Cimmanuel Ah, ok! I should probably make sure that is documented more clearly. Glad you got it working :)

[2020-07-15 12:45] #18 closed, assigned to nobody

[2020-07-27 03:10] Cimmanuel opened #29 ""error": "Could not connect to websocket endpoint wss://api-such.andsuch.xyz/graphql/. Please check if the endpoint url is correct.""
Hello! I recently deployed a project I'm working on to production. I use this great library and I have GraphQL Playground set up via [`django-graphql-playground`](https://github.com/jaydenwindle/django-graphql-playground). Everything works fine locally - there are no issues whatsoever. However, when I deployed I get the error below when I hit the Play button in Playground:

[code]

I use Gunicorn

[2020-08-01 01:21] techknowfile commented on #27
Wanted to stop by to provide the solution that I landed on.

First off, I didn't like how the graphene_subscription signals were separated for post_save_subscription and post_delete_subscription, where the only purpose of those different signals was to set the operation. Instead, I created a single signal that can handle all three cases:

[code]

Moreover, by using the signal function definition,

[2020-08-01 01:21] #27 closed, assigned to nobody

[2020-08-02 07:55] hyusetiawan commented on #10
with graphene v3 release is coming in real soon, is there a beta version of graphene-subscriptions that I can try against the v3 graphene? I volunteer to be a guinea pig :)

[2020-08-05 23:01] techknowfile opened #30 "Static general method for handing root objects in subscription events"
I have a graphene subscription object type defined with the following resolver (`resolve_area_by_dc`). I need to create multiple subscription resolvers for different model types (this one is for AreaModel). The only thing that needs to be different between the resolvers are the model types -- as such, I'm trying to make my code as DRY as possible by having a single resolver function that parameter

[2020-08-06 09:52] aswinshenoy opened #31 "Receiving updates twice per change"
I am receiving updates _twice_ per change (like a save). Everything else is working totally fine if I ignore the repetition. Is this due to some mistake in configuration from my part?

![image](https://user-images.githubusercontent.com/21276922/89516038-8534a280-d7f5-11ea-854f-7be17d6344d1.png)

I use the following custom snippet to send update -
[code]
I had earlier tried with `post_save.connect(

[2020-08-06 10:19] aswinshenoy commented on #14
In my project I am using JWT **cookie** instead of header auth tokens to handle authentication. In my case this Http Only cookie is set by the `graphql_jwt` plugin, and I needed a workaround to get `info.context.user` working with subscriptions as well, so -

To implement it, I currently use the following snippet in my `routing.py` -
[code]
and with this, while resolving subscriptions, I can use `

[2020-08-20 23:33] mukluk opened #32 "Unsubscribing"
Thanks again for the package.  We've been using it since February with great success.  Do you have any thoughts on "unsubscribing" functionality?

[2020-08-21 12:02] tronxdev commented on #31
I'm facing the same issue. Subscription is fired twice at every single update.

[2020-08-23 21:02] ad3bay0 commented on #31
facing same issue, any updates?

[2020-08-25 22:50] ad3bay0 commented on #31
eventually used this [https://github.com/datadvance/DjangoChannelsGraphqlWs](https://github.com/datadvance/DjangoChannelsGraphqlWs) worked like a charm and easier to set up

[2020-09-01 06:28] Meganezaru commented on #31
SubscriptionEvent() calls channel_layer.group_send() to add RX event to the observer.

If you have several channel connections (e.g. from 3 browsers), it will be going to add 3 events and resolve 3 times per event.

I think maybe SubscriptionEvent() throw the event to the consumer directly (not channel_layer).
But unfortunately I could not find the way so far.

[2020-09-07 19:31] mohammed-sehweil commented on #29
Did u solve the issue? @Cimmanuel

[2020-09-30 17:02] techknowfile opened #33 "Group events into an Observable Sequence"
I have a mutation that takes lists of several different DjangoObjectTypes and calls .save() on each of them inside of an atomic transaction. I'm currently Queueing up their event.send() calls inside of **transaction.on_commit()** so that the subscription events corresponding to the models' on_save() events only kick off if the entire transaction is successful.

My problem now is this:
I want to cr

[2020-10-05 16:41] techknowfile commented on #33
To work around this issue, I've created a custom event that takes a dictionary of lists of django models so that I can send a single event on Django Channels that contains the entire change payload. I'm kicking this off from the mutation itself (with the mutation's validated payload) now instead of via .post_save hooks.

Here's an example of that custom event (note, this code doesn't confirm that

[2020-10-17 04:09] Cimmanuel commented on #29
After going through lots of articles, I discovered [this one](https://testdriven.io/blog/dockerizing-django-with-postgres-gunicorn-and-nginx/), and [this section](https://testdriven.io/blog/dockerizing-django-with-postgres-gunicorn-and-nginx/#nginx) made me realize the only thing that was wrong was the fact that I didn't expose port 8000 internally to other docker services. In my `docker-compose`

[2020-10-17 04:09] #29 closed, assigned to nobody

[2020-10-17 04:10] Cimmanuel commented on #29
@mohammed-sehweil check this out!

[2020-11-10 13:48] DricoGrosch commented on #23
Pass 'graphql-ws' on the subprotocol parameter on the client side worked for me.
 `ws = new WebSocket('ws://localhost:8000/graphql/', 'graphql-ws')`

[2020-11-12 10:41] Zagrebelin opened #34 "Dataloaders in a subscription payload"
I have a set of dataloaders described here https://docs.graphene-python.org/en/latest/execution/dataloader/.
When I subscribe to objectType without dataloaders fields, everything works fine.
When I subscribe to objectType with dataloaders field, I got an `TypeError: Object of type Promise is not JSON serializable`
[here](https://github.com/jaydenwindle/graphene-subscriptions/blob/master/graphene_s

[2020-11-12 16:58] millar commented on #34
I have an open PR to address this: https://github.com/jaydenwindle/graphene-subscriptions/pull/26

[2020-12-19 04:28] boomdizz opened #35 "Subscriptions are not allowed error"
Hi,

I'm just getting started with using graphene-subscriptions in my project that has successfully used queries and mutations before. Hence trying out this implementation.

In setting up the 'Hello world' subscription as described in the README, I am getting the following error:

[code]

Turning on the Django (server-side) logging for requests, I see this output:

[code]
which confirms the client

[2020-12-25 01:02] boomdizz commented on #35
I was able to get past this point and get the Hello World subscription working by following steps found on StackOverFlow to create a custom Graphql view and backend and wiring them to the /graphql end point.

[2020-12-25 01:02] #35 closed, assigned to nobody

[2020-12-26 01:12] boomdizz opened #36 "Model create subscription not firing"
I have gotten the Hello World subscription working, but have not been able to get the model creation subscription to work. The client (graphiql) is able to do a connection_init and a start on the subscription but never receives any data. The model instance is being created twice a minute by a separate process, and the signal is getting fired - confirmed by writing a wrapper around post_save_subscr

[2020-12-26 03:54] boomdizz commented on #36
Confirmed that the subscription is not receiving the event. Attached a debugger and set a breakpoint at the beginning of the GraphqlSubscriptionConsumer._send_result function. It gets hit every time for the Hello World subscription, but not for the model creation case even though the db signal is being triggered.

[2020-12-26 23:21] boomdizz commented on #36
Got it working. There is no issue with the implementation of the package. In my case, I am using the background_tasks package to perform bulk database processing/updates. This happens in a separate process from the django runserver process. The signal gets fired in that separate process and since I was using the InChannelMemory backend, the signal/event was not reaching the django process where th

[2020-12-26 23:21] #36 closed, assigned to nobody

[2021-01-26 09:44] Ahtii opened #37 "NoneType object has no attribute 'filter' when implementing custom view"
Hi,
I am creating a simple project that implements both GraphQL playground as well as a Custom view (which is queried from frontend with javascript fetch API).

GraphQL Playground works with all types (query, mutation and subscription) but the Custom view doesn't work with subscription (haven't tried mutation yet) i get the following error:

[code]
I saw [this](https://github.com/jaydenwindle/grap

[2021-02-11 21:32] techknowfile commented on #31
I also have this issue, and I receive a subscription event for every person that is subscribed. So if there are 10 subscriptions, one change occurs, every subscriber receives 10 event notifications

Bit the bullet. Updated to DjangoChannelsGraphqlWs as @ad3bay0 suggested. It's a much better library

[2021-05-07 11:37] kimutaiRop opened #38 "unclear documentation on subscription for a given id or model column"
The documentation does not clearly show how I could subscribe a fronted user to receive data for only a given id for instance. I my case I want user to receive data for his/her profile only every time profile changes and I am really struggling to know how to bind user or even id for a given profile other then broadcast to every user

[2021-05-08 07:12] aliscie commented on #38
I am also trying to create a subscription in graphene since 7 days ago and I tried everything. did you try something that may work?

[2021-05-08 07:13] aliscie commented on #37
Can you share your repo , did you solved it?

[2021-05-12 14:56] ldynia opened #39 "Update of Django channels"
Hi

Are you planing to update Django Channels to the v3? If so then when will it that be?

**Error:**
          `graphene-subscriptions 1.0.2 requires channels<3.0,>=2.3, but you'll have channels 3.0.3 which is incompatible.`

Thanks

[2021-05-26 20:48] Wahagn opened #40 "Can't execute subscription"
I have followed the instructions  in the README step by step as well as the tutorial on the apollo client subscriptions part (https://www.apollographql.com/docs/react/data/subscriptions/):

[code]

However, when trying to perform a subscription:

[code]

 I get the following error:

[code]
Might any of you know why this error occurs? I am quite new to subscriptions/asgi/apollo
Normal queries/mutat

[2021-08-29 12:07] AlenSci commented on #1
I don't understand where is the solution?

[2021-10-19 15:01] sprytnyk commented on #14
I was struggling with all that stuff, so I created an example, maybe, somebody will find it helpful:
https://github.com/vald-phoenix/deployment-of-gql-subscriptions-with-auth

[2021-11-24 11:53] EhiSonoMaestro opened #41 "Error: unexpected keyword argument 'allow_subscriptions'"
Hi!
Initially thanks for this that lets handle subscriptions in graphene!
I tried to write my first subscription reading the README file, and and set up the required pieces, but when I execute the subscription this error raise:
`TypeError: graphql_sync() got an unexpected keyword argument 'allow_subscriptions'`

What can I do to fix it?

[2022-05-11 10:58] Viijay-Kr commented on #39
@ldynia any update on this ?